@import '../../../../assets/styles/color';

.title {
    color: $color-text-muted;
    font-weight: 700;
    font-size: 14px; 
}

.eventItemWrap {
    padding: .5rem .75rem .75rem;
    height: 272px;
    overflow-y: auto;
    background-color: $color-background;
}
.noEventWrap {
    height: unset !important;
}
.onlineChannel {
    border-left: 4px solid $button-blue-color;
}
.offlineChannel {
    border-left: 4px solid $color-warning;
}
.nameWrap {
   
    padding-left: 1rem;
    p{
        color: $color-text-muted;
        font-size: 12px;
        font-weight: 700; 
    }
    h5 {
        color: $text-bold-color;
       font-weight: 700;
    }

}
.time{
    padding-left: calc(1rem + 4px );
    color: $color-text-muted;
    font-size: 12px;
    font-weight: 700; 
} 
.button {
    width: 110px;
    border-left: 2px solid $color-background;
    border-bottom: 2px solid $color-background;
    cursor: pointer;
    &:last-child {
        border-bottom: 0px solid $color-background;
    }
    p {
        color: $text-bold-color;
        font-weight: 700; 
        font-size: 14px;
    }
}