@import '../../assets/styles/color';

.container {
    height: 100vh;
    width: 100%;
    background-image: url(../../assets/images/login.jpg);
    position: relative;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    &::before {
        content: "";
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0px;
    left: 0px;
    right: inherit;
    }
.formWrap {
    overflow-y: auto;
    width: 500px;
    z-index: 10;
    position: relative;
}

}