@import '../../../../assets/styles/color';
.wrap {
  
    .nameWrap {
        h5 {
            color: $text-bold-color
        }
        p { 
            color: $color-text-muted;
            font-size: 14px;
        }
    }
    .infoWrap {
        p {
            color: $color-text-muted;
            font-size: 14px;
        }
        span {
            color: $text-bold-color;
            font-weight: 700;
            font-size: 16px;
        }
    }
}