@import '../../../../assets/styles/color';
.wrap {
h4 {
    color: $text-bold-color;
    font-weight: 700;

}
.statusCheck {
    color: $text-bold-color;
    span {
        font-weight: 700;
    }
}
.therapistsInfo {
    p {
        color: $text-bold-color;
        font-weight: 500;  
    }
}
h5 {
    font-size: 32px;
}
.amount {
    color: $text-bold-color;
    font-weight: 700;
} 
.label {
    font-size: 13px;
    font-weight: 600;
    color: $color-text-muted;
}
height: 300px;
}