@import '../../../../assets/styles/color';
.wrap {
    h4 {
        color: $text-bold-color;
        font-weight: 700;
    }
    .content {
        color: $text-bold-color;
        text-align: justify;
    }
    .label {
        color: $color-text-muted;
        font-weight: 600;
        font-size: 13px;
    }
    .note {
        color: $color-text-muted;
        font-size: 13px; 
    }
    .pill {
        font-size: 15px;
    }
    .appointmentInfo {
        p {
            color: $text-bold-color;
        }
    }
}
@media(min-width: 1200px) {
    .wrap {
        max-height: calc(100vh - 425px);
        overflow: auto;
    }
}
@media(max-width: 1200px) {
    .wrap {
        .container {
            height: 400px;
            overflow: auto;
        }
       
    }
}
@media(max-width: 576px) {
    .wrap {
        .container {
            height: unset !important;
        } 
    }
    .content {
        height: unset !important;
    }  
}
