.container {

    .storyContainer {
        width: 125px;
        height: 200px;
        background-size: cover;
        
       div {
           z-index: 100 !important;
       }
    }
    .avatarContainer {
        border: 2px solid white;
        padding: 3px;
        margin-left: 15px;
        margin-top: 15px;
        width: max-content;
    }
    .iconWrap {
       width: 32px;
       height: 32px;
        .anticon {
            font-size: 40px;
        }
    }
    .addIconWrap {
        border: 2px solid white;
        width: max-content;
        padding: 3px;
    }

}
.wrap {
    max-width: 100% !important;
   
}
@media (max-width: 991px) {
      .wrap {
          width: calc(100vw - 3rem)
      }  
}