@import '../../assets/styles/color';
.btn {
    border-radius: 12px !important;
    border: 2px solid $border-color !important;
    &:hover {
        cursor: pointer;
    }

   p {
       color: $text-bold-color;
       font-weight: 600;
       font-size: 16px;
   } 
}