@import '../../../../assets/styles/color';

.wrap {
    .textWrap {
        text-align: justify;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
    }
    position: relative;
.contentWrap {
height: 100%;
   
    width: 50%;
}
    height: 250px;

    .btn {
        position: absolute;
        bottom: 0;
        span {
            font-weight: 700;
        }
    }

    p {
        color: $text-bold-color
    }

    div {
        position: relative;
        z-index: 3;

    }

    h3 {
        color: $text-bold-color;
        font-weight: 700;
    }

    position: relative;

    .imgWrap {
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 1;
    }
@media (max-width: 1200px) {
    .contentWrap {
        width: 100%;
    }
}
}
