@import '../../assets/styles/color';
.ant-form-item-required {
    color: $color-text-muted !important
}
.ant-form-item-label {
   
        padding-top: 20px !important;

}
.ant-divider {
    border-top: 2px solid $border-color;
}