@import '../../assets/styles/color';

.container {

    padding-left: 80px;
    padding-right: 80px;
    span {
        color: $color-text-muted;
    }
    .logoWrap {
        p {
            color: $color-text-muted;
            position: relative;
            top: 25px;

        }
    }
    .inputWrap {
        border-radius: 22px;
        border: 1px solid $color-text-muted;
    }
    .button {
        box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 3px -2px, rgba(0, 0, 0, 0.14) 0px 3px 4px 0px, rgba(0, 0, 0, 0.12) 0px 1px 8px 0px;
        border-radius: 22px !important; 
        width: 100%;
        // 
        p {
            font-size: 15px;
            font-weight: 700;
        }
       
    }
    .registerWrap {

        p {
            color: $text-bold-color;
        }
        .register {
            p {
                color: $button-blue-color;
            }
            
            padding-left: 1rem;
            .rightIcon {
                padding-left: 2px;
                color: $button-blue-color;
                font-size: 10px;
            }
        }
    }
    
   

    .formTitleWrap {
        h1 {
            font-weight: 400;
            color: $text-bold-color;
        }
        .divider {
            position: relative;

            span {
                font-size: 13px;
                color: $color-text-muted;
                position: relative;
                z-index: 5;
                background: #fff;
                padding: 0 5px;
            }

            &::after {
                content: '';
                height: 2px;
                width: 100px;
                background: $border-color;
                position: absolute;
                top: 50%;
                left: 0;
            }
        }

    }

}


