
@import '../../assets/styles/color'; 

.btn {
  border: 0 !important;
  border-radius: 12px !important;
  height: 45px !important;
  background-color: $button-blue-color !important;
  label {
    font-weight: 700;
  }
}