@import '../../../assets/styles/color';
.psychologist-list-page-wrap {
    .ant-layout {
        background-color: $color-background !important;
    }
}
// .site-layout {
//     background: #f7fafb !important;
// }
// @media (max-width: 992px) {
//     .site-layout {
//         margin-right: 0 !important;
//     }
//     .psychologist-list-sider {
//         background: #f7fafb;
//         display: none !important;
//     }
// }
// }