@import '../../../assets/styles/color';
.wrap {
    .content {
        background-color: $color-background;
    }
    .siderLayout {
        position: fixed;
        left: 285;
        height: 100vh;
    }
    .content {
        margin-left: 285px;
    }
}
@media (max-width: 991px) {
    .content {
        margin-left: 0 !important;
    }
    .siderLayout {
        left: 0 !important;
    }
}