@import '../../../assets/styles/color';
.user-bottom-nav {
    .MuiBottomNavigationAction-root.Mui-selected {
        border-top: 2px solid $button-blue-color;
        .anticon {
            color:$button-blue-color !important
        }
       
    }
    .anticon {
        font-size: 20px;
        color: $text-bold-color;
    }
}