@import '../../../assets/styles/color';
.wrap {
    height: 368px;
    h4 {
        color: $text-bold-color;
        font-weight: 700;
    }
    .itemContainer {
        height: calc(100% - 40px);
        overflow-y: auto;
    }
    .itemWrap {
        .content {
            color: $text-bold-color;
        }
        .time {
            color: $color-text-muted
        }
    }
}