@import '../../../assets/styles/color';
.user-sider-wrap {
    .menu-item-wrap {
        border-bottom: 1px solid $border-color !important;
       
    }
    .ant-menu-title-content {
        a {
            color: $text-bold-color !important;
        }
    }
    .ant-menu-item{
        &:last-child {
            .menu-item-wrap {
                border-bottom: 0 !important;
            }
        }
        p {
            padding-left: 1rem;
        }
        color: $text-bold-color !important;
        &::after {
            border-right: none!important;
        }
    }
    .ant-menu-item-selected {
        .menu-item-wrap  {
            border-bottom: 0 !important;
        }
       
        // .menu-content {
        //     border-bottom: none !important;
        // }
      
        background: #f7fafb !important;
        border-left: 3px solid $button-blue-color;
        .anticon, a, p {
            color: $button-blue-color !important
        }
        // span {
        //     color: $button-blue-color !important
           
            
        // }
       
    }
    .ant-avatar {
        border-radius: 12px;
    }
    .friend-request-wrap {
        .ant-badge-count {
            border-radius: 9px;
            background-color: red;
            p {
                font-weight: 600;
            }
        }
    }
    .ant-menu-item {
        &:active {
            background: #f7fafb !important;

            
        }
        margin: 0px !important;
        
        .anticon {
            color: $text-bold-color;         
            font-size: 20px;
            font-weight: bold;
        }
        span {
            text-transform: capitalize;
            color: $text-bold-color;
            font-weight: 700;
            font-size: 15px;
        }
        &:last-child {
            .menu-content {
                border-bottom: none;
            }
          
        }
    }
    .friend-request-container {
        .anticon {
            font-size: 22px;
            height: 45px;
            width: 45px;
            display: flex;
            border: 2px solid $border-color;
            border-radius: 12px;
            justify-content: center;
            align-items: center;
            margin-left: .25rem;
            color:$text-bold-color;
            &:hover {
                cursor: pointer;
            }
        }

        .button-wrap {
            padding-right: .25rem;
            flex-grow: 3;
        }
    }
}