@import '../../../assets/styles/color';
.wrap {
    .friendIcon {
        color: $text-bold-color
    }
}

.mediManage {
    .title {
        font-weight: 700;
        font-size: 14px;
        color: $color-text-muted;

    }
    .todayTitle{
        color: $color-text-muted;
        span {
            color: $text-bold-color;
            font-weight: 700;
        }
    }
   
}

.friendMenu {
    border-radius: 5px;
    p {
        padding-left: .5rem;
        color: $text-bold-color;
        font-size: 14px;
        font-weight: 600;
    }
    .icon {
        font-size: 20px;
        color: $text-bold-color;
    }
}