@import '../../../../assets/styles/color';
.wrap {
    h4 {
        color: $text-bold-color;
        font-weight: 700;
    }
   
   
}
@media(min-width: 1200px) {
    .wrap {
        height: 300px;
        overflow: auto;
    }
    .content {
        height: calc(300px - 90px);
        overflow: auto;
    }
}
@media(max-width: 1200px) {
    .wrap {
        .container {
            height: 400px;
            overflow: auto;
        } 
    }
    .content {
        height: calc(400px - 90px);
        overflow: auto;
    }  
}
@media(max-width: 576px) {
    
    .wrap {
        .container {
            height: unset !important;
        } 
    }
    .content {
        height: unset !important;
    }  
}