@import '../../../assets/styles/color';

.wrap {
    .layoutContent {
        background-color: $color-background;
    }

    .test {
        background-color: $color-background;
    }
    .rightSider {
        width: 350px !important;
    }
}

@media (max-width: 991px) {
    .leftSider {
        display: none;
    }
}

@media (max-width: 768px) {
    .rightSider {
        display: none;
    }
    .contentWrap {
        width: 100% !important;
    }

    .content {
        margin-right: unset !important;
    }
}

@media (min-width: 991px) {
    .profileSider {
        display: none;
    }
}