@import '../../../assets/styles/color';

.wrap {
    .tagItem {
        span {
            font-weight: 400 !important;
        }
        background-color: #D9E5FC;
        color: $button-blue-color;
       font-size: 15px;
        border-radius: 10px;
        border: 1px solid $border-color;
        font-weight: 0 !important;
    }
    h4 {
        color: $text-bold-color;
        font-weight: 700;
    }
    .name {
        color: $text-bold-color;
        font-weight: 700;
    }
    .editIcon {
        font-size: 20px;
        color: $button-blue-color
    }
    .deleteIcon {
        font-size: 20px; 
    }
}
@media (max-width: 992px) {
    .wrap {
        margin-bottom: 3rem;
    }
}
@media (max-width: 992px) {
    .wrap {
        margin-bottom: 4rem;
    }
}
