@import '../../../assets/styles/color';
.patient-list-wrap {
    .ant-table-thead > tr > th {
        color: $color-text-muted;
        border-bottom: 0 !important;
        background-color: unset !important;
    }
   
    tbody, td, tfoot, th, thead, tr {
        color: $color-text-muted;
        font-weight: 700;
    }

    .ant-table-tbody > tr.ant-table-row {
        td {
            padding: 1rem 16px;
        }
        &:hover {
            box-shadow: 0 8px 30px rgba(0, 0, 0, 0.05) !important;
            background-color: #fff !important;
            cursor: pointer;
            td {
               
                background-color: #fff !important;
            }
        }
    }
}