<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="<%= htmlWebpackPlugin.options.paths.publicURL %>/logo.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta
      name="description"
      content="Nền tảng cho người bệnh tâm lý"
    />
    <meta property="og:title" content="Hearme" />
    <meta property="og:description" content="Nền tảng cho người bệnh tâm lý" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="<%= htmlWebpackPlugin.options.paths.publicURL %>/logo.png" />
    <link rel="apple-touch-icon" href="<%= htmlWebpackPlugin.options.paths.publicURL %>/logo.png" />
    <link rel="manifest" href="<%= htmlWebpackPlugin.options.paths.publicURL %>/manifest.json" />
    <title>Hearme</title>
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="app-root"></div>
    
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '419228672751163',
          cookie     : true,
          xfbml      : true,
          version    : '2.0'
        });
          
        FB.AppEvents.logPageView();   
          
      };

      (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
  </body>
</html>
