@import '../../../assets/styles/color';

.wrap {
    height: 250px;
    h4 {
        color: $text-bold-color;
        font-weight: 700;
    }
    h3 {
        color: $text-bold-color;
        font-weight: 800;
    }
    p {
        color: $color-text-muted;
        font-weight: 600;
    }
    
    
}