@import '../../../assets/styles/color';

.container {
    .stepWrap {
       white-space: nowrap;
        overflow: auto;
        padding-left: 1.5rem
        
    }
    .step {
        padding-left: 1.5rem 
    }
    background-color: $color-background;
    h1 {
        color: $text-bold-color;
    }
    // min-height: calc(100vh - 80px);
    padding-right: 1rem;
}
@media (max-width: 992px) {
    .contentWrap {
        margin-bottom: 3rem;
    }
}