@import '../../../../assets/styles/color';
.header-avatar-wrap {
    .ant-avatar {
        border-radius: 12px;
    }
    
    
}
.header-avatar-menu {
    li {
        span {
            color: $text-bold-color !important;
            font-size: 15px;
        }
        .anticon {
            font-size: 17px !important;
        }
        
    }
}