@import '../../../assets/styles/color';
.cv-accepted-wrap {
    .ant-form-item-label {
        label {
            font-weight: 500;
            color: $text-bold-color !important;
        }
    }
    .ant-picker-input {
        input,  .anticon {
            color: $text-bold-color;
        }
       
    }
    .button-wrap {
        .ant-form-item-control-input-content {
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
        }
    }
    .form-container {
        padding-left: 1rem;
        .ant-select-selection-item {
            color: $button-blue-color;
            background-color: $background-blue-color;
            border: 0;
            border-radius: 10px;
           padding: 0.5rem 1rem;
           height: 100%;

        }
        .ant-input[disabled], .ant-picker.ant-picker-disabled {
            color: $text-bold-color;
            border: 2px solid $border-color;
            background-color: $color-background;
        }
        .ant-select-selector { 
            background-color: transparent !important;
            border: 0;
        }
    }
    
}
