@import '../../../assets/styles/color';
.wrap {
    .icon {
        font-size: 40px;
        color: $button-blue-color
    }
    h1, h5 {
        color: $text-bold-color;
    }
    .titleWrap {
        background-color: $background-blue-color;
        border-radius: 12px;
    }
    
    p {
        color: $color-text-muted;
        font-weight: 600;
    }
    .button {
        p {
            font-weight: 600;
        }
        width: max-content !important;
    }
}