@import '../../assets/styles/color';
.container {
    .icon {
        background-color: $background-blue-color;
        color: $text-detail-color;
        border-radius: 50%;
        padding: 15px;
        font-size: 52px;
        color: $button-blue-color;
        &:hover {
            transition: all 200ms ease;
        } 
    }
    h4 {
        color: $text-bold-color;
      
    }
    p {
        color: $text-detail-color;
        font-size: 14px;
        text-align: justify;
    }
}