@import '../../assets/styles/color';
.goal-item-wrap {
    .anticon {
        background-color: $background-blue-color;
        color: $text-detail-color;
        border-radius: 50%;
        padding: 15px;
        font-size: 52px;
        color: $button-blue-color;
        &:hover {
            transition: all 200ms ease;
        } 
    }
}