@import '../../../../assets/styles/color';
.next-appointment-wrap {
    .ant-divider-horizontal {
        margin-top: .5rem;
        margin-bottom: 1rem;
    }
    .action-wrap {
        .anticon {
            font-size: 16px;
        }
        span {
            padding-left: .5rem;
            color: $color-text-muted;
            font-weight: 700;
        }
    }
}