@import '../../../../assets/styles/color';
.wrap {
    h4 {
        color: $text-bold-color;
        font-weight: 700;
    }
    .dateTimeWrap {
        label {
            color: $color-text-muted;
            font-weight: 600;
            font-size: 13px;
        }
        p {
            color: $text-bold-color;
            font-size: 16px;
            font-weight: 500;
        }
    }
    .statusWrap {
        color: $text-bold-color;
        background-color: $color-background;
        border-radius: 12px;
        font-weight: 600;
    }
    .iconWrap {
        width: 40px;
        background-color: $color-background;
        height: 40px;
        span {
            color: $button-blue-color;
            font-size: 18px;
        }
    }
    
    .name {
        color: $text-bold-color;
        font-size: 15px;
        font-weight: 500;
    }
    .location {
        color: $color-text-muted;
        font-size: 13px;
        font-weight: 700;
    }
    height: 300px;
}