@import '../../../assets/styles/color';
.wrap {
    .viewDetail {
        p {
            font-weight: 700;
        }
    }
  h2 {
      color: $text-bold-color;
      font-weight: 700;
  }
  .textDetail {
     padding-right: 2.5rem;     
  }
  .appointmentDetailWrap {
    top: 15rem
  }

    .appoitmentDetail {
        border-right: 2px solid $border-color
    }
    .label, .textDetail{
        font-size: 13px;
        font-weight: 600;
        color: $color-text-muted
    }
    .content {
        font-weight: 700;
        color: $text-bold-color;
        font-size: 14px;
    }
    .buttonWrap {
        // padding-right: 3rem;
        padding-top: 1rem; 
        .cancelButton {
            margin-right: .5rem;
        }
    }
    .mainContent {
        padding-top: 7rem;
        padding-right: 2rem;
        .fireWork {
           display: flex;
           align-items: center;
           justify-content: center;
        }
        img {
            width: 70px;
            height: 70px;
        }
    }
}