.header {
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 2px 28px 0 rgb(0 0 0 / 9%);
    z-index: 999;
    animation: fadeInDown .5s ease-in-out 0s 1 normal none running !important;
}

@-webkit-keyframes fadeInDown {
    0% {
        -webkit-transform: translate3d(0, -100%, 0);
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }

    100% {
        -webkit-transform: translateZ(0);
        opacity: 1;
        transform: translateZ(0);
    }
}


@media (min-width: 992px) {
    .header-noauth.navbar-expand-lg {
        flex-wrap: nowrap;
        justify-content: space-between
    }

}