.container {
    padding: 40px 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    // position: absolute;
    // top: 0;
    .logo {
        width: 120px;
        height: 120px;
    }

}
.headerContent {
    padding-left: 90px;
}

.headerSwitchLang{
    padding-right: 90px;
}
.header {
    position: fixed;
}

.linkPages {
    display: flex;
    margin-right: 20px;

    a {
        padding: 0px 10px;
        color: white;
        cursor: pointer;
        font-size: 20px;
        text-decoration: none;
    }
    .btn {
        padding: 5px 20px;
        font-size: 20px;
        border: 1px solid white;
        color: white;
    }
}
@media(max-width: 576px) {
   
    .headerContent  {
        padding-left: 40px !important;
  
    }
}

