@import '../../../../assets/styles/color';
.wrap {
    h4 {
    color: $text-bold-color;
    font-weight: 700;
    }
    .editIcon {
        font-size: 20px;
        color: $button-blue-color
    } 
    .deleteIcon {
        font-size: 20px; 
    }
    .tagItem {
        span {
            font-weight: 400 !important;
        }
        background-color: #D9E5FC;
        color: $button-blue-color;
       font-size: 15px;
        border-radius: 10px;
        border: 1px solid $border-color;
        font-weight: 0 !important;
    }
    .name {
        color: $text-bold-color;
        font-weight: 700;
    }
}
@media(min-width: 1200px) {
    .wrap {
        max-height: calc(100vh - 425px);
        overflow: auto;
    }
}
@media (max-width: 992px) {
    .wrap {
        margin-bottom: 4rem;
    }
}