@import '../../../assets/styles/color';
.tag-wrap {
    .anticon {
        font-size: 14px;
        color: $button-blue-color;
    }

}
.menu-how {
    .anticon {
        font-size: 22px;
    }
}
.location-wrap {

}
.search-wrap, .location-wrap {
    .anticon {
        font-size: 30px;
    }
    .ant-input-affix-wrapper-focused {
        box-shadow: none !important;
    }
    .ant-input-affix-wrapper {
        padding: 0 !important;
        border-radius: 0px;
        height: 40px;
        border: none;
        border-bottom: 2px solid $border-color;
        
        .anticon {
            color: $color-text-muted;
            font-size: 18px;
        }
        .ant-input {
            padding-left: .5px;
            font-weight: 600;
            color: $text-bold-color;
        }
    }

}
.date-picker-wrap {
    .ant-picker {
        padding: 0 !important
    }
    .ant-picker-suffix {
        .anticon {
            font-size: 20px;
            color: $button-blue-color
        }
    }
    .ant-picker-input  {
        input {
            margin-left: 10px;
            color: $text-bold-color !important;
            font-size: 20px;
            font-weight: 500;
        }
        display: flex ;
        flex-direction: row-reverse;
    }
    
}
