@import '../../../assets/styles/color';
.wrap {
    .label {
        color: $text-bold-color;
            font-size: 14px;
            font-weight: 600;
    }
    .title {
       font-size: 24px;
       font-weight: 600; 
       color: $text-bold-color
    }
    .filterApplied {
        color: $color-text-muted;
        font-size: 13px;
        font-weight: 600;
        span {
            color:  $button-blue-color;
        }
    }
    .how {
        color: $text-bold-color;
        font-size: 14px;
        font-weight: 600;
    }
    .menuHow {
        span {
            color: $text-bold-color;
            text-transform: capitalize;
            font-weight: 600;
           
        }
    }
    
  
    .typeOption {
        p {
            color: $text-bold-color;
            font-size: 14px;
            font-weight: 600;
        }
        .downIcon {
            color: $text-bold-color;
            font-size: 14px;
            font-weight: 600;
        }
    }
    .tag {
        margin-right: .5rem;
        background-color: #D9E5FC;
        border: none !important;
        border-radius: 6px;
        color: $button-blue-color;
        font-weight: 600;
        width: max-content
    }
}
.menu {
    border-radius: 5px !important; 
    p {
        color: $text-bold-color;
        font-size: 14px;
        font-weight: 600;

    }
   
}