.medical-view-modal {
    .ant-modal-body {
        padding: .5rem !important;
    }
    .ant-modal-close-x {
        display: none;
    }
    .ant-modal-content {
        border-radius: 12px !important;
    }
}