@import '../../../../assets/styles/color';
.notification-wrap-header {

    .anticon {
        font-size: 22px;
        color: $text-bold-color
    }
    
}
.noti-items {
    .ant-avatar {
        border-radius: 12px;
    }
}