@import '../../../assets/styles/color';
.booking-modal {
    
    display: flex;
    justify-content: center;
    .time-range-wrap {
      
        .down-icon {
            font-size: 20px;
            margin-top: .5rem;
            margin-bottom: .5rem;
        }
        .ant-picker {
           
            display: flex;
            align-items: center;
            flex-direction: column;
            .ant-picker-input {
                input {
                    text-align: center;
                    border: 2px solid $text-bold-color;
                    padding-top: .5rem;
                    border-radius: 12px;
                    padding-bottom: .5rem;
                    // color: $text-bold-color;
                    font-size: 20px;
                    font-weight: 700 !important;
                }
            }
            border: 0 !important;
           
            
        } 
    }
    .time-picker-wrap {
        .ant-picker {
            padding: 0 !important
        }
        .ant-picker-suffix {
            .anticon {
                font-size: 20px;
                color: $button-blue-color
            }
        }
        .ant-picker-input  {
            input {
                margin-left: 10px;
                color: $text-bold-color !important;
                font-size: 20px;
                font-weight: 500;
            }
            display: flex ;
            flex-direction: row-reverse;
        }
    }
}
.psychologist-item-wrap {
   
    .ant-radio-wrapper {
        color: $text-bold-color
    }
    .ant-input-affix-wrapper {
      border-radius: 12px;
      max-width: 285px;
      width: 80%
    }
    .ant-picker-focused {
        box-shadow: none !important;
    }
    .time-range-wrap {
      
        .down-icon {
            font-size: 20px;
            margin-top: .5rem;
            margin-bottom: .5rem;
        }
        .ant-picker {
           
            display: flex;
            align-items: center;
            flex-direction: column;
            .ant-picker-input {
                input {
                    text-align: center;
                    border: 2px solid $text-bold-color;
                    padding-top: .5rem;
                    border-radius: 12px;
                    padding-bottom: .5rem;
                    // color: $text-bold-color;
                    font-size: 20px;
                    font-weight: 700 !important;
                }
            }
            border: 0 !important;
           
            
        } 
    }
    .time-picker-wrap {
        .ant-picker {
            padding: 0 !important
        }
        .ant-picker-suffix {
            .anticon {
                font-size: 20px;
                color: $button-blue-color
            }
        }
        .ant-picker-input  {
            input {
                margin-left: 10px;
                color: $text-bold-color !important;
                font-size: 20px;
                font-weight: 500;
            }
            display: flex ;
            flex-direction: row-reverse;
        }
    }
    
    .option-wrap {
        .anticon {
            font-size: 24px;
        }
    }
    .ant-tag {
      border: none;
      border-radius: 12px;
      width: 60px;
      text-align: center;
    }
    .ant-rate-star:not(:last-child) {
        margin-right: 2px;
        .anticon {
            font-size: 22px;
        }
    }
    .ant-rate-star {
        .anticon {
            font-size: 22px;
        }
    }
}