@import '../../../assets/styles/color';

.wrap {
    .doctorItemWrap {
        &:last-child {
            margin-bottom: 1rem;
        }
    }

    .button {
        max-width: max-content;

        p {
            font-weight: 700;
            font-size: 14px;
            padding-left: .5rem;
        }
    }

    .optionWrap {
        font-size: 22px;
    }

    .bookingButton {
        font-weight: 600;
    }

    .searchIcon {
        color: $text-bold-color;
        font-size: 20px;
    }

    .sort {
        color: $color-text-muted;
        font-size: 14px;
        font-weight: 700;
    }

    background-color: $color-background;
    .timeTag {
        padding: 5;
        background-color: red;
    }
    .type {
        font-size: 12px;
        color: $color-text-muted;
        padding-left: 2.5rem;
        font-weight: 600;
    }

    .timePick {
        background-color: $text-bold-color !important;
        color: #fff !important
    }

    .guideMatchingButton {
        border-radius: 7px;
        background-color: #D9E5FC;
        color: $button-blue-color;
        font-size: 13px;
        font-weight: 700;
    }

    .needHelp {
        color: $color-text-muted;
        font-size: 14px;
        font-weight: 700;
        padding-right: 1.5rem;
    }

    img {
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
        width: 120x;
    }


    .doctor {
        -webkit-box-shadow: 59px 28px 10px -9px rgba(240, 241, 245, 1);
        -moz-box-shadow: 59px 28px 10px -9px rgba(240, 241, 245, 1);
        box-shadow: 59px 28px 10px -9px rgba(240, 241, 245, 1);
    }

    .doctorPicked {
        margin-left: 15px;
        margin-bottom: 2px;
        transition: 0.3s;
    }

    .title {
        color: $text-bold-color;
        font-weight: 700;
        letter-spacing: 2px;
    }

    .lastVisited {
        font-size: 12px;
    }

    .name,
    .price {
        font-size: 25px;
        font-weight: 620;
        color: $text-bold-color;
    }

    .price {
        text-align: right;
    }

    .location,
    .priceTitle {
        font-size: 13px;
        color: $color-text-muted;
        font-weight: 600;
    }

    .location {
        p {
            padding-left: 3px;
        }
    }


    .content {
        padding-left: 1rem;
        justify-content: space-between;
    }


    .intro {
        text-align: justify;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;

        p {
            color: $text-bold-color;
            font-size: 14px;
            font-weight: 500;
        }
    }

    .timeWrap {
        border: 2px solid $text-bold-color;
        border-radius: 12px;
        color: $text-bold-color;
        font-size: 20px;
        font-weight: 700;
    }

    .book {
        font-weight: 700;
    }

    .tagItem {
        // background: red;
        background-color: #D9E5FC;
        color: $button-blue-color;
        font-size: 15px;
        border-radius: 10px;
        border: 1px solid $border-color
    }

    .therapiesOffered,
    .special {
        p {
            color: $text-bold-color;
            font-weight: 600;
            font-size: 16px;
        }
    }

    .timePicker {
        width: 220px;
        border: 2px solid $border-color;
        border-radius: 12px;
        // justify-content: space-between;
    }


    @media(max-width: 992px) {
        .doctorItemWrap {
            &:last-child {
                margin-bottom: 4rem;
            }
        }
    }

    @media(max-width: 1200px) {

        .basicInfo,
        .content {
            width: 100% !important
        }
    }

    // @media(max-width: 480px) {
    //     .itemWrap {
    //         min-width: 440px;
    //     }
    // }
    
}