@import '../../assets/styles/color';
.container {
  
    img {
    width: 200px;
  height: 200px;

    }
    p {
        color: $text-bold-color;
        font-size: 17px;
    }
    h1 { 
        color: $text-bold-color
    }
    .text {
        color: $color-text-muted;
    }
    .button {
        width: max-content !important;
        p {
            padding-left: 1rem;
        }
    }
}