@import '../../../assets/styles/color';

.medi-card {
    .ant-checkbox {
        span {
            padding-right: unset !important;
        }
       
    }
    &:hover {
        box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 3px -2px, rgba(0, 0, 0, 0.14) 0px 3px 4px 0px, rgba(0, 0, 0, 0.12) 0px 1px 8px 0px;
    }
    border-radius: 12px !important;
    .ant-card-body {
        display: flex;
        padding-top: 1.5rem !important;
        padding-bottom: 1.5rem !important;
        p {
            color: $text-bold-color;
            font-weight: 600;
        }
        .anticon {
            font-size: 20px;
        }

       
    }
}