@import '../../../assets/styles/color';
.wrap {
    .text {
        padding-left: .5rem !important;
        padding-right: 0!important;
        
    }
    .cardChecked {
    
        background-color: $color-disabled;
        &:hover {
            cursor: pointer;
            box-shadow: unset !important;
        }
    }
    .bellOutline {
        color: $color-text-muted
    }
    .mediNote {
        color: $color-text-muted;
        font-weight: 600;
        font-size: 13px;
    }
}