@import '../../../assets/styles/color';
.wrap {
border: 2px solid $border-color;
.buttonWrap {
    p {
        font-weight: 700;
    }
}
.input {
    border: 2px solid $border-color !important;
}
.divider {
    position: relative;

    span {
        font-size: 13px;
        color: $color-text-muted;
        position: relative;
        z-index: 5;
        background: #fff;
        padding-right: 5px;
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
    }

    &::after {
        content: '';
        height: 2px;
        width: 100%;
        background: $border-color;
        position: absolute;
        top: 50%;
        left: 0;
    }
}
@media(min-width: 1200px) {
    .formWrap {
        padding-left: 1.5rem;
    }
}


}