@import '../../../assets/styles/color';
.upload-cv-wrap {
    .first-child-row {
        .ant-form-item-label {
            label {
                padding-top: 0 !important;
            }
        }
    }
    .ant-form-item-label {
       
        label {
            padding-top: 1.5rem;
            font-weight: 500;
            color: $text-bold-color !important;
        }
       
    }
    .ant-select-selection-item {
        .anticon {
            color: $button-blue-color
        }
        border: none !important;
        background-color: $background-blue-color !important;
        color: $button-blue-color
    }
    .avavtar-upload {
        
      img {
        width: 200px;
        height: 200px;
        border-radius: 12px; 
      }
        .ant-upload-select {
            &:hover {
                border: 2px dashed $button-blue-color;
            }
            border: 2px dashed $border-color;
            width: 200px;
            height: 200px;
            border-radius: 12px;
            background-color: $color-background !important;
        }
        .anticon {
            font-size: 40px;
            color: $button-blue-color;
        }
    }
    .ant-upload.ant-upload-drag:not(.ant-upload-disabled):hover {
        border: 2px dashed $button-blue-color !important;
    }
    .ant-select-selector  {
       
        border: none !important;
    }
    .anticon-paper-clip,  .ant-upload-list-item-name, .anticon-delete {
        color: $button-blue-color !important;
    }
    .ant-upload.ant-upload-drag {
        .anticon {
            color: $button-blue-color !important;
        }
        .ant-upload-drag-container {
           .ant-upload-text {
               color: $text-bold-color
           }
           .ant-upload-hint {
               color: $color-text-muted
           }
        }
        border: 2px dashed $border-color;
        background-color: $color-background;
    }
    
}
