
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */


.shadow-css {
  box-shadow: 0 8px 30px rgb(0 0 0 / 5%) !important;
}
.shadow-css-xl {
  box-shadow: 0 8px 30px rgb(0 0 0 / 22%) !important;
}
/* transition: all .2s cubic-bezier(.645,.045,.355,1); */

/* .ant-avatar {
  border-radius: 12px;
} */
.border-radius-12 {
  border-radius: 12px;
}

/* code {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
} */
.hover-pointer:hover {
 cursor: pointer;
}

a {
  text-decoration: none;
}
