@import '../../../../assets/styles/color';

.avatarCard {
 
    .info {
        width: calc(100% - 170px);
        padding-left: 10px;
        @media only screen and (max-width: 767px) {
          padding-left: 15px;
          width: calc(100% - 160px);
        }
        @media only screen and (max-width: 667px) {
          width: calc(100% - 140px);
        }
        @media only screen and (max-width: 480px) {
          width: calc(100% - 100px);
        }
        h3 {
          font-size: 24px;
          line-height: 36px;
          font-weight: 500;
          color: #ffffff;
          pointer-events: all;
          @media only screen and (max-width: 667px) {
            font-size: 22px;
            line-height: 34px;
          }
          @media only screen and (max-width: 480px) {
            font-size: 18px;
            line-height: 30px;
          }
        }
        p {
          color: #ffffff;
          font-size: 14px;
          line-height: 24px;
          pointer-events: all;
        }
      }
    .avatar {
      border-radius: 50%;
        border: 4px solid white;
    }
        position: absolute;
        bottom: -42px;
        left: 30px;
        pointer-events: none;
        width: calc(100% - 60px);
        @media only screen and (max-width: 767px) {
          bottom: -35px;
        }
        @media only screen and (max-width: 667px) {
          bottom: 20px;
        }
        .avatar {
          @media only screen and (max-width: 767px) {
            width: 160px;
            height: 160px;
          }
          @media only screen and (max-width: 667px) {
            width: 140px;
            height: 140px;
          }
          @media only screen and (max-width: 480px) {
            width: 100px;
            height: 100px;
            border-width: 3px;
          }
        }
}