$text-bold-color: #0A2053;
$text-detail-color: #444444;
$border-color: #f4f5f9;
$grey-color: #a2aebd;
$text-blue-color: #7a8ca1;
$button-blue-color: #1877f2;
$button-border-color: #cbd3de;
$bold-grey-color: #4c6381;
$color-danger: #dc3545;
$color-warning: #ffc107;
$color-success: #28a745;
$color-background:  #f7fafb;
$color-text-muted: #adb8c5;
$chat-list-background: #E5E9FA;
$info-background: #e6f7ff;
$color-disabled: #f3f3f3;
$background-blue-color: #D9E5FC;
$color-info: #0dcaf0;
$background-warning: #fff7e1;
$background-info: #ecfcfb;
$background-success: #f6ffed;


