@import '../../../assets/styles/color';
.wrap {
    img {
        width: 100%;
        max-width: 500px;
        height: calc(100vh - 400px)
      
    }
    p {
        color: $color-text-muted;
        font-size: 17px;
       

    }
    .textContent {
        color: $text-bold-color
    }
}