@import '../../../../assets/styles/color';

.title {
    color: $color-text-muted;
    font-weight: 700;
    font-size: 14px;
}

.borderInPerson {
    border-left: 4px solid $button-blue-color;
}

.borderVideo {
    border-left: 4px solid $button-blue-color;
}

.borderChat {
    border-left: 4px solid $color-warning;
}

.test {
    max-height: calc(100vh - 344px);
    overflow: auto
}

.name {

    h5 {
        color: $text-bold-color;
        font-weight: 700;
        padding-left: 1rem;
    }

}

.icon {

    cursor: pointer;

    .message {
        background-color: #fff7e1;
        border-radius: 5px;

        .messageIcon {
            font-size: 20px;
            color: $color-warning
        }
    }

    .video {
        background-color: $background-blue-color;
        border-radius: 5px;
        cursor: pointer;

        .videoIcon {
            font-size: 20px;
            color: $button-blue-color
        }
    }

    .inPerson {
        background-color: $background-blue-color;
        border-radius: 5px;

        .inPersonIcon {
            font-size: 20px;
            color: $button-blue-color
        }
    }

    padding-right: calc(1rem + 4px);
}

.time {
    padding-left: calc(1rem + 4px);
    color: $color-text-muted;
    font-size: 12px;
    font-weight: 700;
}

.viewDetail {
    padding-left: calc(1rem + 4px);

    p {
        color: $text-bold-color;
        font-weight: 600;
        font-size: 14px;

        &:last-child {
            padding-left: 1rem;
        }
    }
}