@import '../../../../assets/styles/color';
.timeTag {
    background-color: $color-background;
   
    p {
font-size: 16;
font-weight: 700;
color: $text-bold-color
    }
}
.timeLabel {
    font-size: 16px;
    color: $text-bold-color
}
.timePicked {
    background-color: $button-blue-color;  
    p {
        color: white !important
    }
}
.durationNotiWrap {
    background-color: $background-warning;
    color: $color-warning;
    p {
        font-size: 16px;
        font-weight: 600;
    }
    .icon {
        font-size: 30px;
    }
}