@import '../../../../assets/styles/color';
.booking-wrap {
    .button {
        box-shadow: 0 6px 16px -8px rgba(0, 0, 0, .08), 0 9px 28px 0 rgba(0, 0, 0, .05), 0 12px 48px 16px rgba(0, 0, 0, .03);
        label {
            font-weight: 700;
        }
    }
    .note-wrap {
        box-shadow: 0 6px 16px -8px rgba(0, 0, 0, .08), 0 9px 28px 0 rgba(0, 0, 0, .05), 0 12px 48px 16px rgba(0, 0, 0, .03);
        .label-container {
            label {
                font-size: 16px;
                color: $button-blue-color;
                text-align: center;
                font-weight: 700;
            }
           
            text-align: center;
            background-color: $background-blue-color;
        }
    }
    .time-range {
        .label-container {
            text-align: center;
            background-color: $background-blue-color;
        }
        display: flex;
        flex-direction: column;
        align-items: center;
        .picker-custom-range {
            margin-top: 1rem;
            .anticon {
                color: $text-bold-color !important;  
            }
            .ant-picker-input {
                border: 2px solid $border-color;
               
                input { 
                    font-size: 15px;
                    color: $text-bold-color;
                    text-align: center;
                    padding-top: .3rem;
                    padding-bottom: .3rem;
                }
            }
        }
        label {
            font-size: 16px;
            color: $button-blue-color;
            text-align: center;
            font-weight: 700;
        }
        box-shadow: 0 6px 16px -8px rgba(0, 0, 0, .08), 0 9px 28px 0 rgba(0, 0, 0, .05), 0 12px 48px 16px rgba(0, 0, 0, .03);
    }
    .ant-input-focused {
        box-shadow: none;
    }
    .ant-input {
        &::placeholder {
            color: $text-bold-color;
        } 
       
      border: 2px solid $border-color;
      
    }
    h1 {
        color: $text-bold-color;
        font-weight: 700;
    }
    .ant-picker-date-panel {
       
    }
    .ant-picker-cell-disabled {
        &::before {
            background-color: unset !important;
        }
       .ant-picker-cell-inner {
        color: $color-text-muted !important;
       }
       
    }
    .ant-picker-cell-in-view {
        color: $text-bold-color
    }
    .ant-picker-calendar {
        box-shadow: 0 6px 16px -8px rgba(0, 0, 0, .08), 0 9px 28px 0 rgba(0, 0, 0, .05), 0 12px 48px 16px rgba(0, 0, 0, .03);
    }
    .ant-picker-cell-selected {
        .ant-picker-calendar-date  {
            background-color: $background-blue-color !important;
            border: 0;
            color: $button-blue-color !important;
        }
    }
    .ant-picker-content {
        thead {
        tr {
            th {
                color: $text-bold-color !important;
            }
        }
        }
    }
    .ant-picker-cell-disabled.ant-picker-cell-today .ant-picker-cell-inner::before {
        border: 0;
    }
    .calendar-header-render {
       div {
           background-color: $background-blue-color;
       }
        z-index: 20;
        

        label {
            font-size: 16px;
            font-weight: 700;
            color: $button-blue-color; 
            
        }
    }
  .ant-picker-panel {
      border-top: 0 !important;
  }
//   .today-render {
    
//       width: max-content;
//     color: $text-bold-color;
//     background-color: $color-background;
//   }
}