@import '../../../assets/styles/color';

.wrap {
    .time {
        font-weight: 700;
        font-size: 15px;
        color: $text-bold-color;
    }

    h4 {
        color: $text-bold-color;
        font-weight: 700;
        text-align: center;
    }

    border-radius: 12px;
}


.iconWrap {
    border: 1px solid $color-success;
    height: 35px;
    width: 35px;
    background-color: $background-success;
}

.pillInfo {
    p {
        color: $text-bold-color;
        font-weight: 600;
    }

    span {
        font-weight: 600;
        font-size: 13px;
        color: $color-text-muted;
    }
}

.timeWrap {
    .icon {
        color: $color-text-muted;
    }

    p {
        padding-left: .5rem;
        font-weight: 600;
        font-size: 13px;
        color: $color-text-muted;
    }
}