@import '../../../assets/styles/color';

.medical-history-wrap {
    .ant-card-body {
        padding: unset !important;
        padding: 1rem !important
    }

    .ant-card {
        border-radius: 12px !important;

        &:hover {
            box-shadow: 0 6px 16px -8px rgba(0, 0, 0, .08), 0 9px 28px 0 rgba(0, 0, 0, .05), 0 12px 48px 16px rgba(0, 0, 0, .03);
        }
    }

}
